# Chạy Server trên cổng nào (Mặc định: 3000)
PORT=3000

# Môi trường chạy (development, production)
NODE_ENV=development

# URL kết nối Cơ Sở Dữ Liệu
# VD: mysql://user:password@localhost:3306/db_name (TypeORM)
# VD: mongodb://localhost:27017/db_name (Mongoose)
DATABASE_URL="mysql://root:password@localhost:3306/tdtt_db"

# JWT Auth Secret
JWT_SECRET="changeme_jwt_secret_key"
JWT_EXPIRES_IN="1d"
